<h1><%= @team.team_name %></h1>
<div>
<h4>You are a <strong><%= current_user.role_on_team(@team) %></strong></h4>
</div>

<% if current_user.role_on_team(@team) == 'manager' %>
  <div>
  <%= link_to "Edit Team", edit_team_path(@team), class: "button [radius round]" %>
  <% end %>
  </div>


  <!-- 2 columns, fixtures and team -->
    <div class="row">
 
 <!-- Fixtures -->
      <div class="large-6 columns">

        <h4><strong>Upcoming Fixtures</strong></h4>
          <div>
            <% @team.team_matches.each do |match| %>
              <div>
                <h4><%= match.home_team.team_name %></h4>
                <h6> VS </h6>
                <h4><%= match.away_team.team_name %></h4>
              </div>
              <div>
                <p>Kick Off: <%= match.kick_off.strftime("%A %d %B %Y %H:%S") %><p>
              </div>
       
                <%= link_to "Fixture Details", match %>
            
            <% end %>
          </div>
          <div>
            <% if current_user.role_on_team(@team) == 'manager' %>
          <%= link_to "New Fixture", new_match_path(home_team_id: @team.id), class: "button [radius round]" %>
            <% end %>
          </div>
      </div>

  <!-- Squad -->

      <div class="large-6 columns">

        <h4><strong>Squad</strong></h4>

          <div>
            <ul class="no-bullet">
            <% @team.users.each do |t| %>
            <div>
              <li><h4><%= t.name %></h4></li>
             </div>
             <% end %>
          </div> 

          <div>
            <% if current_user.role_on_team(@team) == 'manager' %>
          
              <%= render partial: 'players/form', locals: { team: @team } %>
            <% end %>
          </div>
      </div>   


